* {
  font-family: 'Francois One', sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(white,black);;
}

h1 {
  text-align: center;
  max-width: 450px;
  border: 5px solid red;
  background-color: white;
  margin:auto;
  margin-bottom: 20px;
  font-size: 45px;
}

div {
  text-align: center;
  margin:auto;
}

.secondp {
  padding: 5px;
  margin:auto;
  width: 350px;
  border: 5px solid red;
  background-color: white;
  margin-bottom: 100px;
  font-size: 20px;
}

.intro {
  font-size: 25px;
  background-color: white;
  margin-bottom: 10px;
  border: 5px solid red;
}

#archduke {
  margin-left: 75px;
  float: left;
}

#hand {
  float: right;
  background-color: white;
  overflow: hidden;
  margin-right: 75px;
 
}

img {
  height: 200px;
  width: 200px;
  /*position: relative;*/
  border: 5px solid red;
}

.form {
  border: 5px solid red;
  padding: 10px;
  background-color: white;
  margin: auto;
  clear: both;
  width: 400px;
  font-size: 21px;
  margin-bottom: 50px
}


.center {
margin: 0 auto;
}